<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>

    <add key ="EndPad" value="~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~"/>
    <add key ="CrawlSpeedCAL" value="100"/>
    <add key ="NoteChangeTime" value="5500"/>
    <add key ="NoteSpacePad" value="~~~~~~"/>
    
    <add key ="GroupsEditable" value="True"/>
    <add key ="DefaultTextColor" value="#WHITE#"/>
    <add key ="VersionType" value="4"/>    
    <add key ="EnableAutoUpdate" value="True"/>
    
    <add key ="TitleSeperator" value=":"/>
    <add key ="GraphicsEngine" value="1"/>    
    <add key ="VentuzIP" value="127.0.0.1"/>
    <add key ="VentuzPort" value="19200"/>
    
    <add key ="CrawlSpeedVentuz" value="1"/>    
    <add key ="DefaultGroupTitle" value=""/>
    <add key ="ShowBanner" value="False"/>
    <add key ="VentuzLeftPosition" value="0"/>
    
    <add key ="VentuzTopPosition" value="0"/>    
    <add key ="EnableGroupTitle" value="True"/>
    <add key ="VentuzDebugMode" value="False"/>    
    <add key ="CALTickerLeftPosition" value="0"/>
    
    <add key ="CALTickerTopPosition" value="0"/>    
    <add key ="CALBannerLeftPosition" value="0"/>
    <add key ="CALBannerTopPosition" value="0"/>
    <add key ="TimeZone" value="0"/>
    
    <add key ="EnableGameTitle" value="True"/>
    <add key ="DisableGames" value="True"/>

  </appSettings>

</configuration>