@*@model Ticker.Data.Group*@
@model int
<h2>Group Editors</h2>
<form id="frmGroupEditor">
    {
         <div>MODEL: *@Model*</div>
    }
    <table>
        <tr>
            <td>Name:</td>
            <td>
                <input type="text" id="txtGroupName" class="k-textbox" style="margin: -3px 0 3px; width: 50px;" value="0" />
            </td>
        </tr>
        <tr>
            <td>On Air Name:</td>
            <td>
                <input type="text" id="txtGroupOnAirName" class="k-textbox" style="margin: -3px 0 3px; width: 50px;" value="0" />
            </td>
        </tr>
        <tr>
            <td>Header:</td>
            <td>
                <input type="text" id="txtGroupHeader" class="k-textbox" style="margin: -3px 0 3px; width: 50px;" value="0" />
            </td>
        </tr>
    </table>
</form>
