@{
    ViewBag.Title = "Edit User";
}
<div>
    <div style="float: left">
        <h2>User - @(ViewData["Username"])</h2>
    </div>
    <div style="float: right">
        <h2>@(ViewData["FirstName"]) @(ViewData["LastName"])</h2>
    </div>
</div>
<div style="clear: both" />

