<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Ticker.Client" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="ClockMaxLoopCount" value="10" /><!-- Number of times to loop through Clock Counter-->
    <add key="ClockSleep" value="100" /><!-- Time in miliseconds to sleep while Clock is playing -->
  </appSettings>
  <connectionStrings>
    <!-- PRODUCTION -->
    <!--<add name="FoxTickerEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.135.128.44;initial catalog=FoxTick;persist security info=True;user id=ticker2008;password=ticker;MultipleActiveResultSets=True;App=EntityFramework;Connection Timeout=0&quot;" providerName="System.Data.EntityClient" />-->
    <!-- DEV1 (fn101devz01) -->
    <add name="FoxTickerEntities" connectionString="metadata=res://*/FoxTickerEntities.csdl|res://*/FoxTickerEntities.ssdl|res://*/FoxTickerEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=fn101devz01;initial catalog=FoxTick;persist security info=True;user id=ticker2008;password=ticker;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!-- DEV2 (10.136.97.135) -->
    <!--<add name="FoxTickerEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.136.97.135;initial catalog=FoxTick;persist security info=True;user id=ticker2008;password=ticker;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="FoxTickerEntities" connectionString="metadata=res://*/FoxTickerEntities.csdl|res://*/FoxTickerEntities.ssdl|res://*/FoxTickerEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.136.97.135;initial catalog=FoxTick;persist security info=True;user id=voduser;password=vodmetadata;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <userSettings>
    <Ticker.Client>
      <setting name="IntroMoviePath" serializeAs="String">
        <value>C:\Fox Ticker\Clients\FSN\Ventuz\Movies\Intro</value>
      </setting>
      <setting name="SponsorPath" serializeAs="String">
        <value>C:\Fox Ticker\Clients\FSN\Elements\Sponsors</value>
      </setting>
      <setting name="IntroMovieDefault" serializeAs="String">
        <value>FOXSPORTS.COM on msn.avi</value>
      </setting>
      <setting name="SponsorDefault" serializeAs="String">
        <value>TF-NFLonFOX.tga</value>
      </setting>
    </Ticker.Client>
  </userSettings>
</configuration>